* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(assets/bible.jpg);
  background-size: cover;
  background-position: center;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 40px;
  border-radius: 12px;
}
